.main_container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.pl_img_container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.info_Img {
    width: 960px;
    height: 500px;
    border: none;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.pl_table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;
}

.name_td, .data_Td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.name_td {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
}

.data_Td {
    background-color: #ffffff;
}

.tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tr:hover {
    background-color: #f1f1f1;
}

.Address_Tr .data_Td {
    text-align: left;
}

.linkButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00823E;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
}

.linkButton:hover {
    opacity: 0.8;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.SubTitlePL_container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
