.adminCommentWrite{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  margin-top: 40px;
}

.adminCommentWrite textarea{
  font-size: 16px;
  width: 700px;
  height: 100px;
  margin-right: 10px;
  box-sizing: border-box;
  outline: none;
}

.adminCommentWrite button{
  height: 100px;
  width: 100px;
  background-color: #595959;
  color: white;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
}

.adminCommentWrite button:hover{
  opacity: 0.8;
}