.detailContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.detailTable {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ddd;
}

.detailTable th, .detailTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.detailTable th {
  background-color: #f2f2f2;
  text-align: center;
  font-size: 20px;
  width: 25%;
}

.detailTable td {
  text-align: left;
  font-size: 20px;
  padding-left: 20px;
}

.contentCell {
  height: 500px;
}

.headerRow th {
  text-align: center;
}

.contentRow th {
  text-align: center;
}

.commentContent{
  height: 100px;
  width: 100%;
}

.commentContent div{
  display: flex;
  justify-content: space-between;
}

.commentContent div button{
  padding-right: 10px;
  font-size: 15px;
  background-color: white;
  border: 1px solid #ddd;
}

.commentContent div button:hover{
  background-color: #f2f2f2;
  color: white;
}

.adminDetailBtnGroup{
  display: flex;
  flex-flow: row;
}

.adminDetailBtnGroup button{
  border: none;
  height: 50px;
  border-radius: 10px;
}

.adminDetailBtnGroup button:hover{
  opacity: 0.8;
}

.commentBtn{
  margin-top: 20px;
  background-color: #00823E;
  color: white;
  width: 110px;
  font-size: 16px;
}

.deleteBigBtn{
  margin-top: 20px;
  background-color: #CF1E1E;
  color: white;
  width: 110px;
  font-size: 16px; 
  margin-left: 10px;
}