.container {
  width: 100%;
  height: 600px;
  background-color: #F4F2EE;
  border-radius: 300px 300px 0 0;
  position: relative;
}

.imgContainer {
  width: 60%;
  height: 600px;
  position: absolute;
  top: -20px;
  overflow: hidden;
  z-index: 1;
}

.mySlides {
  position: absolute;
  top: 7%;
  left: 20%;
  width: 70%;
  height: 540px;
  border-radius: 50px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.mySlides.active {
  opacity: 1;
}

.whiteBox {
  width: 90%;
  height: 400px;
  background-color: white;
  position: absolute;
  top: 30%;
  /* right: 200px; */
  right: 3%;
  z-index: 0;
  border-radius: 50px;
}

.btnContainer {
  position: absolute;
  top: 37%;
  left: 58%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 45px; /* 좌우 간격 */
  grid-row-gap: 50px; /* 상하 간격 */
  z-index: 10; /* z-index 값을 높여서 다른 요소들 위에 배치 */
}

.miniBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 1.5s ease-in-out, box-shadow 1.5s ease-in-out;
  text-decoration: none;
  color: black;
  z-index: 11; /* z-index 값을 높여서 다른 요소들 위에 배치 */
}

.miniBtn:hover .circle {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-15px); /* 버튼 띄우는 높이 */
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #EAF9F1;
  position: relative; /* 부모 요소에 relative를 설정하여 자식 요소를 절대 위치로 배치할 수 있게 함 */
}

.icon {
  position: absolute; /* 부모 요소를 기준으로 절대 위치 */
  top: 50%; /* 부모 요소의 세로 중앙 */
  left: 50%; /* 부모 요소의 가로 중앙 */
  transform: translate(-50%, -50%); /* 요소의 중앙을 기준으로 배치 */
  width: 50px;
  height: 50px;
}

.btnName {
  margin-top: 10px;
  font-size: 20px;
}

/* 미디어 쿼리 추가 */
@media (max-width: 1024px) {
  .container {
    height: 500px;
  }

  .imgContainer {
    width: 80%;
    height: 500px;
    top: -10px;
  }

  .mySlides {
    top: 5%;
    left: 10%;
    width: 80%;
    height: 440px;
  }

  .whiteBox {
    width: 90%;
    height: 300px;
    top: 150px;
    right: 5%;
  }

  .btnContainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(2, 1fr); /* 버튼이 두 개의 열로 배치되도록 변경 */
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .miniBtn {
    transform: scale(0.8);
  }

  .circle {
    width: 70px;
    height: 70px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .btnName {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    height: 400px;
  }

  .imgContainer {
    width: 90%;
    height: 400px;
    top: 0;
  }

  .mySlides {
    top: 0;
    left: 5%;
    width: 90%;
    height: 350px;
  }

  .whiteBox {
    width: 95%;
    height: 250px;
    top: 100px;
    right: 2.5%;
  }

  .btnContainer {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .miniBtn {
    transform: scale(0.7);
  }

  .circle {
    width: 60px;
    height: 60px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .btnName {
    font-size: 14px;
  }
}
