.bodyContainer{
  min-height: 450px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.container p{
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.container input[type="text"],
.container input[type="password"] {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.container button {
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00823E;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container p {
  margin: 10px 0;
  font-size: 1rem;
  color: #333;
}

.error-message {
  color: red;
  margin-top: 10px;
}